* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%vh;
}
.navbar {
  margin-left: 35px;
  padding: 5px 10px;
  width: 90%;
  height: 90px;
}
.navbar h1 {
  font-family: "Inconsolata";
  font-size: x-large;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.about-img {
  padding: 2rem 0;
}
.about-picture-container {
  max-width: 25rem;
  padding-left: 3rem;
  margin-bottom: 50px;
}
img {
  width: 100%;
  display: block;
}
.hero-text {
  max-width: 15rem;
  padding: 2rem 0;
  padding-left: 3rem;
}
h2 {
  line-height: 2;
  word-spacing: 5px;
  margin-bottom: 2rem;
  font-family: "Space Mono";
  color: rgba(0, 0, 0, 0.9);
}
p {
  line-height: 1.7;
  word-spacing: 3px;
  margin-bottom: 3.2rem;
  font-family: "Space Mono";
  color: rgba(0, 0, 0, 0.9);
}
a {
  text-decoration: none;
}
.btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  width: 30px;
  height: 50px;
  padding: 1rem 1.5rem;
  line-height: 1.5;
  font-family: "Space Mono";
}
@media screen and (min-width: 556px) {
  .about-img,
  .hero-text {
    float: left;
    width: 50%;
  }
  .hero-text {
    padding-left: 3rem;
  }
  img {
    height: 300px;
    object-fit: 100%;
    overflow: hidden;
  }
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
.footer-container {
  height: 5rem;
}
.footer-container p {
  text-align: center;
  padding-top: 4rem;
  letter-spacing: -0.03;
  font-size: small;
}
